<div class="page-header">
  <%= link_to human_patients_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>

  <%= link_to edit_human_patient_path(@patient.human, @patient), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  
  <h1>Ficha de Atencion</h1>
</div>

<dl class="dl-horizontal">

  <dt>Nombre:</dt>
  <dd><%= @human.nombre %></dd>

  <dt>Sexo:</dt>
  <dd><%= @human.sexo %></dd>

  <dt>Edad:</dt>
  <dd><%= @human.edad %> años</dd>

  <dt>Ocupacion:</dt>
  <dd><%= @human.ocupacion %></dd>

  <dt>Estado civil:</dt>
  <dd><%= @human.estado_civil %></dd>

  <dt>Fecha Atencion:</dt>
  <dd><%= @patient.fecha.strftime("%d/%m/%Y") %></dd>  

  <dt>Descripcion:</dt>
  <dd><%= raw @human.descripcion_del_paciente %></dd>

  <hr>
  
  <dt>Anamnesis:</dt>
  <dd><%= raw @patient.anamnesis %></dd>
  <br>
  <dt>Hora de inicio:</dt>
  <dd><%= @patient.hora_de_inicio.strftime("%H:%M") %> Hrs.</dd>
  <br>
  <dt>Desarrollo sesion:</dt>
  <dd><%= raw @patient.desarrollo_de_la_sesion %></dd>
  <br>
  <dt>Hora de termino:</dt>
  <dd><%= @patient.hora_de_termino.strftime("%H:%M") %> Hrs.</dd>
  <br>
  <dt>Comentarios:</dt>
  <dd><%= raw @patient.comentarios %></dd>
  <br>

  <dt>Etiquetas:</dt>
  <dd><%= @patient.tags.map {|c| c.etiqueta}.join(', ') %></dd>

</dl>

<br>
